{% extends "index.html" %} {% block title %}Currencies{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>Created with Flask!!</h1>
        <p>This app was made entirely with Flask and Bootstrap!</p>
        <p>To get flask the flask framework and start making your own sites, go <a href="http://flask.pocoo.org" >here!</a></p>
        <p>To get started with Twitter's Bootstrap, head over to <a href="http://getbootstrap.com" >here!</a></p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Mentions</h3>
        <p>Through this app you can keep track of your financial investments</p>
        <a href="/dashboard" class="btn btn-default">Go to Currencies</a>
    </div>
</div>


{% endblock %}