{% extends "index.html" %} {% block title %}Currencies{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>Contact Us</h1>
        <p>If you want to get in touch about the webapp. Feel free to email me at g00326349@gmit.ie</p>
        <p>This project is open source so you may make any changes without requesting permission</p>
        <p>If you are using part of this app in your own code please leave a reference to the github repo : https://github.com/FlashGordon95/Financial-Portfolio-Flask</p>
        <p>Please head to the <a href="https://github.com/FlashGordon95/Financial-Portfolio-Flask">Github Repo</a> for any new releases</p>
    </div>
</div>



{% endblock %}