{% extends "index.html" %} {% block title %}Currencies{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>Contact Us</h1>
        <p>If you want ot get in touch about the webapp. Feel free to email me at g00326349@gmit.ie</p>
        <p>Alternitvetly this project is open source so if you may make any changes without requesting permission</p>
        <p>Please head to the Github for any new releases</p>
    </div>
</div>



{% endblock %}