{% extends "index.html" %} {% block title %}Currencies |{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/investment-tables.css') }}">
{% endblock %}
{% block content %}
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title">Currencies</h3>
                </div>
                <div class="col col-xs-6 text-right">
                    <button type="button" class="btn btn-sm btn-primary btn-create" data-toggle="modal" data-target="#myModal">Create New</button>
                </div>
            </div>
        </div><!-- end panel heading -->

        <div class="panel-body">
            <div id="no-more-tables">
                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                    <!-- Jinja syntax used to give a message if no currencies else show a table of the user currencies -->
                    {% if Currencies|length < 1 %} <thead>

                        <th>Looks like you dont have anything here! Click the button to add a new asset! &#9757;</th>
                        </thead>
                </table>
                {% else %}
                <thead class="cf">

                    <tr>
                        <th>Actions</th>
                        <th>Ticker</th>
                        <th class="numeric">Amount</th>
                        <th class="numeric">Total in BTC</th>
                        <th class="numeric">Total in EUR</th>
                        <th class="numeric">Total in USD</th>
                    </tr>
                </thead>

                <tbody>
                    <!--iterate over Stocks object to fill table -->
                    {% for thing in Currencies %}
                    <tr>

                        <td align="center">
                            <a class="btn btn-danger" href="{{url_for('deleteentry' , ticker=thing.ticker)}}"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                        <td data-title="Ticker">{{ thing.ticker }}</td>
                        <td data-title="Amount" class="numeric">{{'%0.5f'% thing.amount |float}}</td>
                        <td data-title="Total in BTC" class="numeric">&#8383; {{'%0.8f'% thing.priceInBTC }}</td>
                        <td data-title="Total in EUR" class="numeric">&#128; {{'%0.2f'% thing.priceInEUR| float }}</td>
                        <td data-title="Total in USD" class="numeric">&#36; {{'%0.2f'%thing.priceInUSD|float }}</td>

                    </tr>
                    {% endfor %}
                </tbody>

                {% endif %}
                </table>
            </div>
        </div> <!-- end panel body -->
        <div class="panel-footer">
            <div class="row">
                
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" action="/addNewCurrency" method="POST">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Address Details</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Amount</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="0.00" class="form-control" name="Amount">
                            </div>
                        </div>

                        <!-- Text input-->
                        <!-- Auto complete and autocorrect turned off on this so user can enter exactly which ticker they want -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Ticker</label>
                            <div class="col-sm-10">
                                <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="XMR" class="form-control" name="Ticker">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><!-- end modal -->
{% endblock %}