{% extends "index.html" %} {% block title %}Dashboard |{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>Welcome to your financial portfolio</h1>
        <p>Through this app you can keep track of your financial investments</p>
        <p>Head to the currencies page to get started!</p>
        <p>Infact here is a button to get you there!</p>
        <a href="/currencies" class="btn btn-default">Go to Currencies</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Stock Prices</h3>
        <p>Track some of the hottest stocks on the NASDAQ/NYSE</p>
        <p>Source code configurable for any Stock of either of these exchanges</p>
        <p>Tickers currently supported : AAPL , GOOG , MSFT , AMZN , TWTR , EA , FB , NVDA , CSCO</p>
        <a href="/stocks" class="btn btn-default">Go to Stocks</a>
    </div>
</div>
{% endblock %}