{% extends "index.html" %} {% block title %}Currencies{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>Welcome to your financial portfolio</h1>
        <p>Through this app you can keep track of your financial investments</p>
        <p>Head to the currencies page to get started!</p>
        <p>Infact here is a button to get you there!</p>
        <a href="/currencies" class="btn btn-default">Go to Currencies</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Coming soon: Stocks</h3>
        <p>Coming soon, trade some of the hottest stocks on the NASDAQ/NYSE</p>
        <p>Tickers to be supported : AAPL , GOOG, TWTR</p>
        <a href="/dashboard" class="btn btn-default">Go to Currencies</a>
    </div>
</div>
{% endblock %}