<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="A webapp for tracking of assets and investments">
    <meta name="author" content="Ryan Gordon">

    <title>Altcoin Price tracking </title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/landing-page.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="body" style="padding-top: 50px;">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Navigation Bar Header -->
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only"> Toggle navigation </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <!-- Navigation Bar Brand -->
                <a class="navbar-brand" href="#"> Altcoin Prices </a>
            </div>
            <!-- Navigation Bar List Items -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--
                    <li style="padding-left: 0.75em;">
                        <button id="signup_button" type="button" class="btn btn-success navbar-btn" style="width: 6em">
                                <b> Sign Up </b>
                            </button>
                    </li>
                    -->
                    <li style="padding-left: 0.75em;">
                        <button id="login_button" type="button" class="btn btn-info navbar-btn" style="width: 6em">
                              <a href="index"><b> Log In </b></a>
                            </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- banner-image -->
    <div class="banner-image">
        <div class="container">
            <!-- banner-image Inner Elements -->
            <span class="name"> RIP harambe </span>
            <p class="desc"> Learn about the life of harambe </p>
            <p>
                <a class="btn btn-warning" href="/register" role="button"> <b> Join For Free </b> </a>
                <a class="btn btn-info" href="/index" role="button"> <b> Login</b> </a>
            </p>
        </div>
    </div>
    <!-- Features Section -->
    <div class="features text-center">
        <div class="container">
            <div class="row">
                <!-- Features Header Text -->
                <div class="col-lg-12">
                    <h1> Start Today With </h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <!-- Features Left -->
                <div class="col-md-4 ">
                    <img src="http://static.boredpanda.com/blog/wp-content/uploads/2016/06/gorilla-shot-boy-zookeper-explains-harambe-amanda-odonoughue-cincinnati-zoo-1.jpg" class="img-circle" width="140">
                    <h2> Investment Tracking </h2>
                    <h4> Up to date pricing data </h4>
                </div>
                <!-- Features Center -->
                <div class="col-md-4">
                    <img src="http://static.boredpanda.com/blog/wp-content/uploads/2016/06/gorilla-shot-boy-zookeper-explains-harambe-amanda-odonoughue-cincinnati-zoo-1.jpg" class="img-circle" width="140">

                    <h2> Charting functions </h2>
                    <h4> Visualise your portfolio </h4>
                </div>
                <!-- Features Right -->
                <div class="col-md-4">
                    <img src="http://static.boredpanda.com/blog/wp-content/uploads/2016/06/gorilla-shot-boy-zookeper-explains-harambe-amanda-odonoughue-cincinnati-zoo-1.jpg" class="img-circle" width="140">

                    <h2> Placeholder </h2>
                    <h4> Placerholder </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="footer text-center">
        <!-- Footer Above -->
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <!-- Footer Above Left -->
                    <div class="footer-col col-md-6">
                        <h3> Made with &#9829; by Ryan Gordon</h3>

                    </div>
                    <!-- Footer Above Right -->
                    <div class="footer-col col-md-4">
                        <h3> About Us </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Below -->
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <!-- Footer Below Center -->
                    <div class="col-lg-12"> Copyright &copy; Ryan Gordon 2016 </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>